@import "tailwindcss";

/* This links your CSS to your JS config file */
@config "../../tailwind.config.mjs";

:root {
  --background: #ffffff;
  --foreground: #0F172A;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #B48606;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #926A05;
}

.react-datepicker-wrapper {
  width: 100%;
}