@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #0F172A;
}

/* Smooth Scrolling for the whole app */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #B48606;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #926A05;
}

/* Datepicker Overrides (Prepare for Phase 3) */
.react-datepicker-wrapper {
  width: 100%;
}